# Angular frontend
beetrack-Projet/frontend/node_modules/
beetrack-Projet/frontend/.angular/
beetrack-Projet/frontend/dist/

# Spring Boot backend
beetrack-Projet/backend/target/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
*.env
