<h2 mat-dialog-title>Ajouter une Tâche</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4 p-4">

    <mat-form-field class="w-full">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="titre" required />
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" required />
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle formControlName="accomplie">Accomplie</mat-slide-toggle>

    <div class="flex justify-end gap-2 mt-4">
        <button mat-button type="button" (click)="onCancel()">Annuler</button>
        <button mat-raised-button color="primary" type="submit">Ajouter</button>
    </div>
</form>
