<h2 mat-dialog-title>Modifier Utilisateur</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4 p-4">
    <mat-form-field class="w-full">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom" required />
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="prenom" required />
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required type="email" />
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>password</mat-label>
        <input matInput formControlName="motDePasse" required type="email" />
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>Rôle</mat-label>
        <mat-select formControlName="role" required>
            <mat-option value="ADMIN">Admin</mat-option>
            <mat-option value="APICULTEUR">Apiculteur</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="flex justify-end gap-2 mt-4">
        <button mat-button type="button" (click)="onCancel()">Annuler</button>
        <button mat-raised-button color="primary" type="submit">Mettre à jour</button>
    </div>
</form>
