<!-- src/app/features/finance/components/revenu-dialog/revenu-dialog.component.html -->

<h2 mat-dialog-title class="text-lg font-semibold text-gray-800">
    {{ data?.revenu ? 'Modifier Revenu' : 'Ajouter un Revenu' }}
</h2>

<div mat-dialog-content class="p-4">
    <form [formGroup]="revenuForm" class="space-y-4">

        <!-- Description -->
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="ex: Vente de miel">
            <mat-error *ngIf="revenuForm.get('description')?.hasError('required')">
                La description est obligatoire
            </mat-error>
        </mat-form-field>

        <!-- Montant -->
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Montant</mat-label>
            <input matInput type="number" formControlName="montant" placeholder="ex: 200">
            <mat-error *ngIf="revenuForm.get('montant')?.hasError('required')">
                Le montant est obligatoire
            </mat-error>
            <mat-error *ngIf="revenuForm.get('montant')?.hasError('min')">
                Le montant doit être positif
            </mat-error>
        </mat-form-field>

        <!-- Date -->
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput type="date" formControlName="date">
            <mat-error *ngIf="revenuForm.get('date')?.hasError('required')">
                La date est obligatoire
            </mat-error>
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions class="flex justify-end space-x-2 p-4">
    <button mat-stroked-button color="warn" (click)="onCancel()">Annuler</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="revenuForm.invalid">
        {{ data?.revenu ? 'Modifier' : 'Ajouter' }}
    </button>
</div>
